<%
  # AIRFIELD
  # Site / Category
-%>

<h1><%=@category_name.capitalize%> Category</h1>

<%=content_collection @posts do %>
  <%=render :partial=>"post", :collection=>@posts, :locals=>{} %>
<% end # content_collection %>




