// AIRFIELD
// Editables CSS -- Sass/SCSS rules for display of editable items

.editable .field {
  border: 2px solid transparent;
  border-radius: 4px;
  display: block;
}
.editable .field.activated {
  border: 2px dashed rgba(255,215,0,0.6);
}
.editable .field.activated:hover {
  background: rgba(255,215,0,0.25);
  border: 2px solid #FFD700;
}
.editable .field.activated:focus {
  background: #FFF;
}

.hallotoolbar {
  padding: 0.1em 0.2em;
  border-radius: 4px;
}
.ui-button-text .ui-button-text {
  padding: 0;
}

//
// BUTTONS
//

.add-content-button {}
.add-content-button:hover i {
  text-decoration: none;
}

#content .add-content-button {
  display: inline-block;
  margin: 1em 0 1em 125px;
  text-decoration: none;
}

//
// INSERTABLES
//

.insertable {
  display: none;
}
.insertable.activated {
  display: block;
}


//
// ERROR MESSAGES
//

.error.parse-error {
  display: inline-block;
  padding: 1em;
}
