// AIRFIELD
// Site CSS -- Sass/SCSS rules for site display

.clearfix { clear: both; }

body {
  background: #FFF;
  background-image: url(http://farm2.static.flickr.com/1240/553404266_75cc79deda_o.jpg);
  //Halloween: background-image: url(http://farm6.static.flickr.com/5162/5265426886_2cc4e16cfb_o.jpg);
  background-position: -400px -350px;
  //Halloween: background-position: 0 -650px;
  background-attachment: fixed;
  color: #555;
  font-family: "proxima-nova", "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
}

#header-container {
  background-size: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

#header {
  margin: auto;
  width: 960px;
}

#header h1 {
  // background: rgba(255,204,15,0.7);  // #FFD700
  // background: rgba(15,180,80,0.7);  // #FFD700
  background: rgba(81,96,9,0.7);  // #516009
  //border-radius: 5px;
  // color: #111;
  color: #FFF;
  display: inline-block;
  letter-spacing: -2px;
  margin: 65px 25px 15px -5px;
  padding: 20px 15px;
}
#header h2 {
  color: #FFF;
  display: inline-block;
  font-weight: 100;
  letter-spacing: 0;
  margin: 0 25px 65px 10px;
  text-shadow: 2px 2px 2px #666;
}


//
// NAVIGATION
//

#navigation-container {
  background: #000;
  background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#333));
  background: -moz-linear-gradient(-90deg, #000, #333);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000', endColorstr='#333');
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000', endColorstr='#333');
  color: #FFF;
  width: 100%;
  margin: 0;
  padding: 0;
}
ul#navigation {
  list-style: none;
  margin: auto;
  padding: 0;
  width: 960px;
}
ul#navigation li {
  border: 1px solid transparent;
  display: inline-block;
  margin-right: 0.5em;
  padding: 0.5em 5px;
}
ul#navigation li.active, ul#navigation li.active:hover {
  background: #FFF;
  border: 1px solid #333;
  border-radius: 0.25em;
  box-shadow: 0 0 3px #333;
  color: #333;
  font-weight: bold;
  -webkit-transform: scale(1.15);
  -moz-transform: scale(1.15);
}
ul#navigation li:hover {
  color: #FFD700;
}
ul#navigation li:hover a {
  color: #FFD700;
}
ul#navigation li a {
  color: #FFF;
  text-decoration: none;
}
ul#navigation li.active a {
  color: #000;
}
ul#navigation li a.highlight {
  color: #9F3;
}

ul#footer-navigation {
  list-style: none;
  margin: 0 0 2em;
  padding: 0;
}
ul#footer-navigation li {
  display: inline-block;
  padding: 0.5em 0.25em;
}
ul#footer-navigation li a {
  color: #0F6;
  text-decoration: none;
}
ul#footer-navigation li:hover a {
  color: #FFD700;
  text-decoration: underline;
}
ul#footer-navigation li.active {
  font-weight: bold;
}


//
// CONTENT
//

#content-container {
  background-color: #C8C8C8;
  background: rgba(200,200,200,0.75);
  color: #212121;
  margin: 0;
  padding-bottom: 2em;
}

#content {
  line-height: 30px;
  margin: 0 auto;
  width: 960px;
}

#content article {
  width: 80%;
}

#content a {
  color: #039;
  text-decoration: none;
}
#content a:hover {
  color: #00F;
  text-decoration: underline;
}

#content h1 {
  margin-top: 0;
  padding-top: 0.67em;
}

#pagination {
  clear: both;
  margin: 1em 0;
  text-align: center;
}
#pagination a:first-child {
  padding-right: 1em;
}

//
// FOOTER
//

#footer-container {
  background: -webkit-gradient(linear, left top, left bottom, from(#444), to(#222));
  background: -moz-linear-gradient(-90deg, #444, #222);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#444', endColorstr='#222');
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#444', endColorstr='#222');

  //background: #333;
  clear: both;
  margin: 0;
  width: 100%;
}
#footer {
  color: #CFCFCF;
  font-size: 0.8rem;
  font-weight: lighter;
  margin: auto;
  padding: 25px 0;
  width: 960px;
}

#footer a {
  color: #FFD700;
  text-decoration: none;
}
#footer a:hover {
  text-decoration: underline;
}


//
// POST DESIGN
//

.post {
  clear: both;
  float: left;
  margin-bottom: 2em;
  padding-left: 75px;
  position: relative;
  width: 80%;
}
.post .post-aside {
  border-right: 1px solid #999;
  margin-right: 0.5em;
  padding: 1em 0 0;
  position: absolute;
  text-align: center;
  width: 50px;
  height: 100%;
}
.post .post-content {
  float: left;
  margin-left: 60px;
  min-height: 8em;
}
.post .post-content > h1 {
  margin-bottom: 0;
}
.post .post-aside .month {
  font-size: 0.8rem;
  font-weight: lighter;
  text-transform: uppercase;
}
.post .post-aside .day {
  font-size: 1.6rem;
  font-weight: bold;
}
.post .post-aside .year {
  font-size: 0.8rem;
  font-weight: lighter;
}


//
// CATEGORY LIST
//

.post ul.categories {
  list-style: none;
  margin: 1em 0;
  padding: 0;
  text-align: left;
}
.post ul.categories li {
  border: 1px solid transparent;
  border-radius: 3px;
  color: #666;
  display: inline-block;
  font-size: 12px;
  padding: 0 8px;
}
.post ul.categories li:hover {
  background: #EEF;
  border: 1px solid #AAA;
  box-shadow: 1px 1px 1px #999;
  color: #333;
}
.post ul.categories li a {
  color: #A00 !important;
  text-decoration: none;
}
.post ul.categories li a:hover {
  color: #F00 !important;
  text-decoration: none !important;
}
