<%
  # AIRFIELD
  # Content / New Post -- template for creating new posts
-%>

<article id="post-template" class="post in_set insertable" data-content-type="post">
  <aside class="post-aside">
    <span class="month" data-content-key="published_at.month"><%= DateTime.now.strftime("%b") %></span><br/>
    <span class="day" data-content-key="published_at.day"><%= DateTime.now.strftime("%d") %></span><br/>
    <span class="year" data-content-key="published_at.year"><%= DateTime.now.strftime("%Y") %></span><br/>
  </aside>
  <section class="post-content">
    <h1 class="field" data-content-key="name">New Post</h1>
    <span class="field" data-content-key="content">
      Change this text to begin editing your new post...
    </span>
  </section>


  <%=btn_link_to "Save Post", content_path(), :icon=>"save", :class=>"save-button" %>

</article>
